{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>CartBliss</title>
    <link rel="icon" type="image/x-icon" href="{% static 'assets/favicon.ico' %}" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
    <link href="{% static 'css/styles.css' %}" rel="stylesheet" />
    <script src="https://kit.fontawesome.com/49ddd94397.js" crossorigin="anonymous"></script>
    <style>
        .display-4 span {
            transition: transform 0.3s;
            display: inline-block;
        }

        .display-4 span:hover {
            transform: scale(1.1);
        }
    </style>
</head>
<body>
    <header class="bg-dark py-5">
        <div class="container px-4 px-lg-5 my-5">
            <div class="text-center text-white">
                <h1 class="display-4 fw-bolder">
                    <span>Shop</span> <span>in</span> <span>style</span>
                </h1>
                <p class="lead fw-normal text-white-50 mb-0">With CartBliss</p>
            </div>
        </div>
    </header>
</body>
</html>